data/redis/redis/data
RedisClusterTemplate/.vs
RedisClusterTemplate/bin
RedisClusterTemplate/obj
.DS_Store
*.code-workspace
RedisClusterTemplate/data
*.pfx
TemplateProject/bin
TemplateProject/obj
TemplateProject/.vs
TemplateProject/Properties/launchSettings.json
